@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

.whole-container {
     margin-bottom: 2rem;
     margin-top: 0.5rem;
}

.header-main {
     align-items: center;
     justify-content: center;
     background: rgb(0, 162, 255);
     margin: auto;
     padding: 1rem;
}

header h1 {
     font-size: 4rem;
     color: white;
     justify-content: center;
     text-align: center;
}

.form input,
.form select {
     display: block;
     padding: 5px;
}

.form-container {
     background: rgb(0, 162, 255);
     padding: 2rem;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     font-weight: 400;
     font-size: 1.5rem;
}

.form-container h1 {
     margin-top: 3rem;
}

.form button {
     justify-content: space-evenly;
     background: white;
     font-family: 'Times New Roman', Times, serif;
     border-radius: 5px;
     padding: 6px;
     margin-top: 6px;
}

.form button:hover {
     justify-content: space-evenly;
     background: rgb(76, 90, 88);
     color: rgb(255, 255, 255);
     font-family: 'Times New Roman', Times, serif;
     border-radius: 5px;
     font-size: 1.6rem;
}

.table-container table tr td {
     border: solid rgb(0, 162, 255);
     justify-content: center;
     padding: 5px;
}

.table-container table {
    width:100%;
    text-align:center
}

thead td {
    font-size :1.4rem ;
    font-weight :500 ;
}

/* Center the div elements */
.container {
    display:flex ;
    flex-direction :column ;
    align-items:center
}

/* Make the page responsive */
@media (max-width :768px) {
    header h1{
        font-size :3rem ;
    }
}